.table{
   -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
   border: 2px black solid;
}
.table thead{
    background-color: rgba(122, 57, 10, 0.774);
    color:  rgba(243, 242, 198, 0.774);
}

.table tbody{
    background-color: rgb(219, 218, 217);
}
.table tfoot{
    background-color: rgb(65, 62, 60);
    color: rgb(255, 255, 255);
    border: none;
}
.kara{
    margin: 5vw auto 2vw;
    font-size:40px;
    display: grid;
    text-align: center;
    font-family:fantasy;
    text-decoration: none;
    color: rgb(226, 136, 19);
}
.kara:hover{
    margin: 5vw auto 2vw;
    font-size:50px;
    display: grid;
    text-align: center;
    font-family:fantasy;
    text-decoration: none;
    color: rgba(165, 98, 11, 0.664);
}
.btn-outline-warning{
    color: rgb(255, 255, 255);
    background-color:rgba(165, 98, 11, 0.664);
    border-color: rgb(160, 101, 34);
}

.btn-outline-warning:hover{
    color: rgb(0, 0, 0);
    background-color:rgba(182, 109, 14, 0.664);
    border-color: rgb(133, 133, 133);
}

.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(150, 64, 14, 0.89);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 15vw;
    background-color: rgb(97, 57, 5);
    color: white;
  } 
  
  .btn-5:hover {
    border: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #ffffff; 
    color: white;
  }

  .btn-4 {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    &:after {
      background: rgb(139, 75, 2);
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }
  }
  
  .btn-4:hover {
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      
    }
  }
  