.allcate{
    font-size: 1.5vw;
    font-family: cursive;
    color:rgb(0, 0, 0);
    border-radius:10px;
    cursor:pointer;
    border-bottom:1px #000000 solid;   
    margin-top: 1vw;
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
    width: 11vw;
    padding: 0.5vw;
}
.allcate:hover{
    color:rgb(0, 0, 0);
    background-color:rgb(252, 192, 26);
    border:2px #000000 solid;
    opacity:0.6;
    font-size: 1.7vw;
}
.h6{
    font-size: 10px;
    color: rgb(53, 47, 47);
}
.price{
    font-size: 15px;
    color: rgb(124, 28, 11);
    font-family: fantasy;
}
.but{
    font-size: 1.5vw;
    font-family: cursive;
    color:rgb(0, 0, 0);
    border-radius:10px;
    cursor:pointer;
    border-bottom:1px #000000 solid;   
    margin-top: 1vw;
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
}
.but:hover{
    color:rgb(0, 0, 0);
    background-color:rgb(252, 192, 26);
    border:2px #000000 solid;
    opacity:0.6;
    font-size: 1.7vw;
}
.but span{
    vertical-align: sub;
}
.card{
    background-color: #fefbf4;
    border-radius:10px;
}
.cardimg{
    height: 22vw;
    background-size: cover; 
    background-position:center;
    width: 16vw;
    margin:1vw auto;
    background-repeat: no-repeat;
}
.kuwashiku{
    letter-spacing: 0;
    background-color:rgb(114, 78, 38);
    color: white;
    font-family: cursive;
}
.kuwashiku:hover,.kuwashiku:active{
    background-color: rgb(95, 53, 6);
    border-radius: 10px;
    color: white;
    letter-spacing: 5px;
}
.kuwashiku:after,
.kuwashiku:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.kuwashiku:hover:after,
.kuwashiku:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 50%;
}

.kuwashiku:hover:before {
  bottom: auto;
  top: 0;
  width: 50%;
}
.card-title{
    color:rgb(54, 36, 3);
    font-size: 18px;
    font-family: cursive;
}

.detail{
    font-family: cursive;
}
@media (max-width: 480px){
    .cust img{
        display: none;
    }
    .card-title{
        color:rgb(54, 36, 3);
        font-size: 12px;
    }
    .but span{
        vertical-align: baseline;

    }
    .mu{
        width: 40vw;
        margin-left: 2vw;
    }
    .chose{
        display: contents;
    }
    .search{
        display: none;
    }
    .bot{
        margin-bottom: 5vw;
    }
    .bot button{
        font-size: 3vw;
        font-family: 'Times New Roman', Times, serif;
        width: 70vw;
        border-radius:0px;
        cursor:pointer;
        height: 3rem;
        border:0;
        border-top:1px #000000 solid;
        background-color:#8a6029;
        color:rgb(0, 0, 0);
    }
    .bot button:hover{
        font-size: 4vw;
        font-family: 'Times New Roman', Times, serif;
        width: 70vw;
        border-radius:0px;
        cursor:pointer;
        height: 3rem;
        border:0;
        border-bottom:1px #4e4343 solid;
        background-color:#c7770ec2;
        color:rgb(0, 0, 0);
    }

    .price{
        font-size: 10px;
        color: rgb(124, 28, 11);
        font-family: fantasy;
    }
    .h6{
        font-size: 2px;
    }
    .cardimg{
        height: 25vw;
        background-size:cover; 
        background-position:center;
        width: 22vw;
        margin:1vw auto;
        background-repeat: no-repeat;
    }
    .card-text{
        font-size: 2px;
        color: rgb(255, 255, 255);
    }
}